.site-footer {
    width: 100%;
    display: flex;
}

.footer-content {
    display: flex;
    gap: 20px;
    margin: 0 auto;
    padding: 5px 0;
    color: rgba(255, 255, 255, 0.5);
    font-size: .8rem;
}

.footer-content a {
    color: rgba(255, 255, 255, 0.5);
}

body.light-mode .footer-content{
    color: rgba(0, 0, 0, 0.5);
}

body.light-mode .footer-content a {
    color: rgba(0, 0, 0, 0.5);
}